<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310291668478-s7c9sltdfnnmc3s9fp7ji6mdr3gdvdio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310291668478-s7c9sltdfnnmc3s9fp7ji6mdr3gdvdio</string>
	<key>API_KEY</key>
	<string>AIzaSyBlGJw-VytkCTVK3t9oyScASzq3sYlkj0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>310291668478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiceProject</string>
	<key>PROJECT_ID</key>
	<string>cs4261assignment1</string>
	<key>STORAGE_BUCKET</key>
	<string>cs4261assignment1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310291668478:ios:941b8a2051d2a1b94034af</string>
</dict>
</plist>